@import url(https://fonts.googleapis.com/css?family=Commissioner:100,200,300,regular,500,600,700,800,900);
/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
box-sizing: border-box;
}

*:not(dialog) {
margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
html {
  interpolate-size: allow-keywords;
}
}

body {
line-height: 1.5;
letter-spacing: 0.07rem;
-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

input, button, textarea, select, dialog{
font: inherit;
color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

p {
text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
text-wrap: balance;
}

#root, #__next {
isolation: isolate;
}
/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
:root{
  --primary-color : hsl(67, 50%, 93%);
  --header-background : hsl(30, 53%, 89%);
  --cards-color : hsl(38, 16%, 89%);
  --primary-font-color : hsl(0 100 20);
  --primary-font : "Commissioner";
  

  --myGreatShadowThatISpent2HoursMaking :
          0.37px 1px 1.25px  hsl(105 55 5 / 6%),
          0.75px 2px 2.5px  hsl(105 55 5 / 6%),
          1.5px 4px 5px  hsl(105 55 5 / 6%),
          3px 8px 10px  hsl(105 55 5 / 6%),
          6px 16px 20px  hsl(105 55 5 / 6%);

  --border : 1rem;
}

h1{
  font: italic 2.1rem cursive;
  text-align: center;
}

button{
  padding: 5px;
  
  outline: none; /* removes the outline ring when focused */
  border-style: none;
  
  background-color: hsl(74, 58%, 87%);
  font-size: 1rem;
  
}
/* Common attributes */
input,
button{
  transition: all 0.5s;
}
input,
dialog,
.card{
  border-color: var(--primary-font-color);
}

.header,
.card{
  box-shadow: var(--myGreatShadowThatISpent2HoursMaking);
}

.header button,
.card,
form button,
fieldset,
dialog,
form button{
  border-radius: var(--border);
}

.del-btn:hover,
.reading-status-btn:hover,
.author,
.number-of-pages,
form button{
  font-size: 1.28rem;
}
/* Common attributes */

body{
  min-height: 100vh;

  display: grid;
  grid-template-rows: 1fr 10fr;
  
  background-color: var(--primary-color);
  color: var(--primary-font-color);

  font-family: var(--primary-font);

}
/* header */
.header{  
  display: grid; 
  grid-template-columns: 1.15fr 1fr; 
  align-items: center;
  justify-items: end;
  /* every element will be aligned to the end of it's column, that helps centering the title */
  /* normal centering doesn't work as intended here */

  background-color: var(--header-background);
  color: var(--primary-font-color);
}

.header-title{
  font-size: 1.9rem;
  font-weight: bold;
}

.header button:hover{
 background-color: hsl(from var(--header-background) h s calc(l - 10));
}

.header button{
  width: 100px;

  padding: 5px;
  margin-right: 40px; /* pushing it a little bit from the right corner */

  background-color: hsl(120, 100%, 80%);
  
  font-size: 1.75rem;
}
/* header */

/* cards */
.book-cards-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 30px;
  padding: 100px;
}

.card{
  height: 400px;

  display: grid;
  grid-template-rows: repeat(3, 1.2fr) 1fr 1fr;

  background-color: var(--cards-color);
  border: 0.1rem solid;
}

.title-container{
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: hsl(from var(--primary-font-color) h s calc(l + 12));
  color: var(--header-background);
  border-radius: 0.9rem 0.9rem 0 0; /* not 1 because the card has a 0.1 rem border, the same for del button */
}

.author{
  margin-top: 25px;
}

.author,
.number-of-pages{
  text-align: center;
}

.del-btn{
  border-radius: 0 0 0.9rem 0.9rem;
}

.reading-status-btn:hover{
  border-radius: 50% 50% 0 0 ;
}

button.not-started{
  background-color: hsl(0, 100%,80%);
}

button.currently-reading{
  background-color: hsl(39, 100%, 80%);
}

button.completed{
  background-color: hsl(120, 100%, 80%);
}
/* cards */

/* dialog and forms */
dialog{
  width: 600px;
  height: 600px;

  outline: none;
  border: 0.1rem solid;
}
dialog form{
  display: grid;

  gap: 40px;
  padding: 11px;
}

form > div{ /* only the input forms */
  display: grid;
}

input{
  outline: none;
  
  border: 1px solid;
  border-radius: 4px;
  background-color: var(--primary-color);
  
  
  padding: 5px 10px;

}

input:hover{
  background-color: hsl(from var(--primary-color) h s calc(l - 10));
}

fieldset{
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 10px;
}

input[type="radio"]{
  appearance: none;

  border-radius: 50%;

  position: relative;
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: -0.3rem;
  margin-left: 41px;
  
}

#not-started{
  margin-left: 5.5rem; /* aligning with the rest of the radio buttons */
}

#completed{
  margin-left: 5.97rem; /* aligning with the rest of the radio buttons */
}

input[type="radio"]:hover{
  background-color: hsl(from var(--primary-font-color) h s calc(l + 68));
}

input:checked::after{
  content: "";

  position: absolute;
  width: 1rem;
  height: 1rem;

  background-color: var(--primary-font-color);

  border-radius: 50%;

  right: 3px;
  bottom: 3px;
}


form button:hover{
  height: 47px;
  background-color: hsl(from var(--primary-font-color) h s calc(l + 55));
  color: var(--primary-color);

}
/* dialog and forms */