@import url(https://fonts.googleapis.com/css?family=Commissioner:100,200,300,regular,500,600,700,800,900);
/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
box-sizing: border-box;
}

*:not(dialog) {
margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
html {
  interpolate-size: allow-keywords;
}
}

body {
line-height: 1.5;
letter-spacing: 0.03rem;
-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

input, button, textarea, select{
font: inherit;
color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

p {
text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
text-wrap: balance;
}

#root, #__next {
isolation: isolate;
}
/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
:root{
  --primary-color : hsl(67, 50%, 93%);
  --secondary-color : hsl(30, 53%, 89%);
  --cards-color : hsl(38, 16%, 89%);
  --primary-font-color : hsl(0 100 20);
  --primary-font : "Commissioner";
  

  --myGreatShadowThatISpent1HourMaking :
          0.37px 1px 1.25px  hsl(105 55 5 / 7%),
          0.75px 2px 2.5px  hsl(105 55 5 / 7%),
          1.5px 4px 5px  hsl(105 55 5 / 7%),
          3px 8px 10px  hsl(105 55 5 / 7%),
          6px 16px 20px  hsl(105 55 5 / 7%);

  --border : 1rem;

}
body{
  background-color: var(--primary-color);

  font-family: var(--primary-font);
  color: var(--primary-font-color);

  min-height: 100vh;

  display: grid;
  grid-template-rows: 1fr 10fr;
}
button{
  padding: 5px;
  outline: none;
  border-style: none;
  background-color: hsl(74, 58%, 87%);

  font-size: 1rem;
  transition: all 0.5s;
}

.header{
  background-color: var(--secondary-color);
  color: var(--primary-font-color);
  box-shadow: var(--myGreatShadowThatISpent1HourMaking);
  font-size: 2rem;
  font-weight: bold;
 
  display: grid; 
  grid-template-columns: 10fr 1fr;
  align-items: center;
  justify-items: center;
  
}

.header button:hover{
 background-color: hsl( from var(--secondary-color) h s calc(l - 10));
}
.header div{
  margin-left: 150px;  /* trying to align it on the middle of the header */
}

.header button{
  padding: 5px;
  color:var(--primary-font-color);
  background-color: hsl(120, 100%, 80%);;
  border-radius: var(--border);
  font-size: 1.75rem;
  width: 100px;
}

.book-cards-container{
  display: grid;

  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  padding: 100px; 
}

.card{
  height: 400px;

  display: grid;
  grid-template-areas: /* check this later */
  "title"
  "author"
  "pages"
  "change-btn"
  "del-btn";

  background-color: var(--cards-color);
  border-radius: var(--border);
  box-shadow: var(--myGreatShadowThatISpent1HourMaking);

}

.title-container{
  display: flex;
  align-items: center;
  justify-content: center;

  grid-area: title;
  background-color: hsl(208, 100%, 96%);
  border-radius: var(--border) 12px 0 0;
}

h1{
  font: italic 2.3rem cursive;
  text-align: center;
}

.author{
  grid-area: author;
}

.number-of-pages{
  grid-area: pages;
}
.author{
  margin-top: 15px;
}

.author,
.number-of-pages{
  text-align: center;
  font-size: 1.3rem;
}

.del-btn{
  grid-area: del-btn;
}

.reading-status-btn{
  grid-area: change-btn;
}


.card button:last-of-type{
  border-radius: 0 0 12px 12px;
}

.card button:hover{
  opacity: 0.8;
  border-radius: 50% 50% 0 0 ;
  font-size: 1.4rem;
}

button.not-started{
  background-color: hsl(0, 100%,80%);
}

button.currently-reading{
  background-color: hsl(39, 100%, 80%);
}

button.completed{
  background-color: hsl(120, 100%, 80%);
}

dialog{
  width: 600px;
  height: 600px;
  outline: none;
  border: 0.1rem solid var(--primary-font-color);
  border-radius: var(--border);
}
dialog form{
  display: grid;
  gap: 40px;
  padding: 10px;
}

form div:not(fieldset > div){
  display: grid;
}

input{
  padding: 5px 10px;
  outline: none;
  border: 1px solid var(--primary-font-color);
  border-radius: 4px;
  transition: all 0.4s ;
  background-color: var(--primary-color);
}

input:hover{
  background-color: hsl(from var(--primary-color) h s calc(l - 10));
}
fieldset{
  border-radius: var(--border);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

input[type="radio"]{
  border-radius: 50%;
  appearance: none;
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: -0.3rem;
  margin-left: 41px;
}
#not-started{
  margin-left: 84px;
}
#completed{
  margin-left: 92px;
}
input[type="radio"]:indeterminate{
  background-color: hsl(from var(--primary-font-color) h s calc(l + 65))
}
input[type="radio"]:hover{
  background-color: var(--primary-color);

}
input:checked::after{
  content: "";
  width: 1rem;
  height: 1rem;

  background-color: var(--primary-font-color);

  border-radius: 50%;
  position: absolute;

  right: 3px;
  bottom: 3px;
}

form button{
  font-size: 1.2rem;  
  border-radius: var(--border);
}
form button:hover{
  height: 50px;
  background-color: hsl(from var(--primary-font-color) h s calc(l + 55));
  color: var(--primary-color);

}